.sv_share {
width:25px;
height:25px;
display:block;
background:red;
background-image:url(../img/flat-icons.jpg);
margin:5px;
cursor:pointer;
}

.sv_share:hover {
box-shadow:1px 1px 3px #999;
}

.sv_facebook {
background-position:-97px -254px;
}

.sv_twitter {
background-position:-17px -254px;
}

.sv_pinterest {
background-position:-57px -254px;
}