.current-viewers {
opacity: 0;
position: absolute;
top: 125px;
margin-left: 20px;
background-color: #004693;
padding: 5px;
text-align: center;
font-size: 14px;
color: #FFF;
opacity: 1.03;
}

.current-viewers:after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 45%;
  border-style: solid;
  border-width: 15px 15px 0;
  border-color: #004693 rgba(0, 0, 0, 0);
  display: block;
  width: 0;
  z-index: 1;
}

#sv_scrollToTop {
  display: inline-block;
  color: #fff;
  position:fixed;
  right:0px;
  bottom:200px;
  opacity:0;
  cursor:pointer;
  height:45px;
}

#sv_scroll_button {
padding:20px 10px;
font-weight:bold;
cursor:pointer;
}

#sv-container .tags {
text-transform:capitalize;
display:inline-block;
text-decoration: none;
}

.sv-filter {
  width: 100%;
  margin: 0px;
  list-style: none;
  display: inline-block;
  margin-bottom: 25px;
  background-color: #E8E8E8;
  border: 1px solid #CACACA; 
  padding-left:0px;
}

.sv-filter li {
display:inline-block;
float:left;
}

.sv-filter li:first-child {
margin-left:15px;
}

.sv-filter li a {
  padding: 5px 10px;
  font-weight: bold; 
  font-size: 16px;
  color: #2D2D2D;
}


.sv-filter li a:hover {
color:#A52222;
}

.sv-filter li a.sv-filter-name-selected:hover {
color:#fff;
}

.tags.sv-filter-name-selected {
text-decoration: none;
background-color: #A52222;
color:#fff;
}

#sv_tags_wrap {
display:block;
width:98%;
padding:1%;
border:1px solid #cacaca;
background:#cacaca;
border-radius:8px 8px 8px 8px;
box-shadow:1px 1px 5px #333;
}

#sv_typeahead {
margin-top:5px;
width:98%;
}

#sv_tags_help_text {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  border-bottom: 1px solid;
  padding-bottom: 5px;
}

.sv-trending-type {
display:inline;
font-size:16px;
}

#sv-container .item-item {
  height: 300px;
  margin-right: 20px;
  margin-top: 15px;
  box-shadow: 0 1px 3px rgba(163, 163, 163, 0.9);
  width: 197.5px;
  padding: 10px 5px 10px;
  list-style:none;
  float:left;
  position:relative;
  margin-bottom:10px;
  text-align:center;
  overflow:hidden;
  font-size:13px;
}

#sv-container {
margin-left:5%;
width:90%;
}

.sv_share_wrap {
position:absolute;
}

.sv-trending-type-wrap {
position:absolute;
left:0px;
width:100%;
top:8px;
}

.sv-trending-type-wrap i {
padding:3px 10px 3px 0px;
}

.sv-item-item  .sv_share_wrap {
display:none;
width:100%;
padding-left:18px;
}

.sv-item-item:hover .sv-trending-type-wrap {
visibility:hidden;
}

.sv-item-item:hover .sv_share_wrap {
display:block;
}

.sv_share {
width:27px;
height:27px;
display:block;
background:transparent;
background-image:url(../img/flat-icons.png);
margin:2px;
cursor:pointer;
float:left;
}

.sv_share:hover {
/*box-shadow:1px 1px 3px #999;*/
}

.sv_facebook {
background-position:-31px -1px;
}

.sv_twitter {
background-position:-1px -px;
}

.sv_pinterest {
background-position:-59px -1px;
}

.sv_yahooMail {
background-position:-31px -28px;
}

.sv_gmail {
background-position:-1px -28px;
}

.dept-lazy-loading {
clear:both;
}

.sv-item-image {
width:190px;
}

.sv-item-item .item-title {
  width: 100%;
  display: block;
  font-weight: bold;
  color: #333;
  text-decoration: none!important;
  margin-top:5px;
}

.sv-item-item .item-price {
  position: absolute;
  bottom: 30px;
  width: 100%;
  text-align: left;
  left: 0px;
  text-indent: 10px;
}

.sv-item-item .item-price.sale {
color:red;
}

.sv-item-item .item-price-meta {
  position: absolute;
  bottom: 15px;
  width: 100%;
  text-align: left;
  left: 0px;
  text-indent: 10px;
}

.sv-item-item .view-details {
position:absolute;
bottom:18px;
right:10px;
padding:5px;
background:#004693;
border-radius:8px;
color:#fff;
cursor:pointer;
}

.sv-item-item a {
text-decoration:none;
}

/*override this rule to customize number per row, however, 
you'll have to override and disable this rule, 
and then write a new rule for the desired number per row

to undo this, change it to clear:none
*/

ul.atg_store_product> li:nth-child(4n+1) {
clear:both;
}
